server {
    # no 80 since we go through cloudflare
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ vhost }};
    root /var/www/{{ vhost }};
    index index.html;

    ssl_certificate /etc/ssl/{{ vhost }}/{{ vhost }}.crt;
    ssl_certificate_key /etc/ssl/{{ vhost }}/{{ vhost }}.key;

    include /etc/nginx/ssl.conf;

    error_log /var/log/nginx/{{ vhost }}_error.log;
    access_log /var/log/nginx/{{ vhost }}_access.log combined;

    location / {
        root /var/www/{{ vhost }};
    }
}
